.img-bg {
    width: 100%;
    height: 90.5vh;
    object-fit: cover;
  }
  
  .about-text{
      background-color: #a7b291;
      color: black;
  }
  
  @media screen and (max-width: 768px) {
    .img-bg {
      height: 60vh;
    }
  }
  
  @media screen and (max-width: 550px) {
    .img-bg {
      height: 33vh;
    }
    .about-text {
      height: 35vh;
      font-size: 10px;
    }
  }
  